section#about .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(27, 32, 33);
    color: rgb(227, 220, 194);
}
section#about .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    padding: 32px;
    text-align: center;
}

#retrato{
    max-width: 100%;
    flex: 1;
}
#retratomobile{
    max-width: 100%;
    flex: 1;
}
h2.webdeveloper{
    font-size: 24px;
    margin: 0px;
}
section#about h2{
    margin: 0px;
}

@media screen and (max-width : 400px){
    h2.webdeveloper{
        visibility:hidden;
        display:none
    }
}